.message-input {
  width: 100%;
  display: flex;
  background-color: silver;
  align-items: center;
  justify-content: center;
  padding: 15px;
  flex: 0 0 auto;
  box-sizing: border-box;
}
.message-input-text {
  height: 40px;
  width: 500px;
  padding: 15px;
  font-size: 20px;
  background-color: white;
  border: none;
  outline: none;
  border-radius: 30px;
}
.message-input-button {
  font-size: 20px;
  padding: 15px;
  font-size: 30px;
  margin-left: 50px;
  border: none;
  outline: none;
  border-radius: 30px;
  cursor: pointer;
}
.message-input-button:hover {
  background-color: cornsilk;
  font-weight: 600;
}